<div class="panel panel-default">
    <div class="panel-heading">
        Moving Line Chart Example
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="flot-chart">
            <div class="flot-chart-content" id="flot-line-chart-moving"></div>
        </div>
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->

<!-- Metis Menu Plugin JavaScript -->
<script src="/assets/metisMenu.min.js"></script>

<!-- Flot Charts JavaScript -->
<script src="/assets/flot/excanvas.min.js"></script>
<script src="/assets/flot/jquery.flot.js"></script>
<script src="/assets/flot/jquery.flot.pie.js"></script>
<script src="/assets/flot/jquery.flot.resize.js"></script>
<script src="/assets/flot/jquery.flot.time.js"></script>
<script src="/assets/flot/jquery.flot.tooltip.min.js"></script>
<!-- <script src="/assets/data/flot-data.js"></script> -->

<!-- Custom Theme JavaScript -->
<script src="/assets/dist/js/sb-admin-2.js"></script>
<script src="/assets/data/flow_line_chart_moving.js"></script>
