<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> <span id="lineChartTitle"> Line Chart </span>
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                    Actions
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu" id="areachart_dropdown_menu">
                    <li id="line1"><a>TRANSACTION</a><li>
                    <li id="line2"><a>MEMBERSHIP_EXPIRE_DATE</a><li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div id="morris-line-chart"></div>
    </div>
</div>
<script src="/assets/data/index_line_graph.js"></script>
